  <div class='col m4 name'>
    <span data-id='<%= id %>' ><%= title %></span>
  </div>
  <div class='col m4'>
    <% var checked = complete == 'true' ? "checked='true'" : "" %>
    <input type='checkbox' id='<%= id %>' <%= checked %> />
    <label for='<%= id %>'>Complete?</label>
  </div>
  <div class='col m4'>
    <button class='btn remove-task' data-id='<%= id %>'>Delete</button>
  </div>
